 	
	<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark mdl-js-ripple-effect--ignore-events">
			<!--<div ng-hide="currentPage == 'main'">
				<a ng-click='backToApp()'>
					<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent"
						id="add">
						<span>View Apps</span>
					</button>
				</a>
			</div>
		

		
			
		
			<div ng-show="currentPage == 'dashboardoffers'"
				class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark tabs">
				<ul class="nav nav-tabs nav-justified" ng-controller="TabsCtrl">
					<li ng-class=""ng-repeat="tab in tabs"><a
						href="javascript:void(0)"  class="mdl-layout__tab mdl-nav__links" ng-class="{'is-active':isActiveTab(tab.state)}"
						ng-click="setSelectedTab(tab,tab.state)">{{tab.label}}</a></li>
				</ul>
			</div>
		
		<div ng-hide="currentPage == 'main_emp'">
			<a ng-click='addEmployee()'>
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent"
						id="addemp">
						<i class="material-icons">person_add</i> <span class="visuallyhidden">add</span>
					</button>
				</a>
			</div>
			
				</div>
				<div ng-show="currentPage == 'dashboardoffers'"
				class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark tabs">
				<ul class="nav nav-tabs nav-justified" ng-controller="TabsCtrl">
					<li ng-class=""ng-repeat="tab in tabs"><a
						href="javascript:void(0)"  class="mdl-layout__tab mdl-nav__links" ng-class="{'is-active':isActiveTab(tab.state)}"
						ng-click="setSelectedTab(tab,tab.state)">{{tab.label}}</a></li>
				</ul>
			</div>
			
						<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark" ng-show="currentPage == 'dashboardoffers' ||currentPage == 'report'">
				<a ng-click='backToDashboard()'>
					<button
						class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent"
						id="add">
						<i class="material-icons" role="presentation">dashboard</i>
 						<span class="visuallyhidden">Dashboard</span>
					</button>
				</a>
			</div>
			-->
<!-- 		<div ng-show="currentPage == 'dashboardoffers'">
			<a ng-click='addOffers()'>
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent"
						id="addOffers">
						<i class="material-icons">person_add</i> <span class="visuallyhidden">add offers</span> 
					Add offers</button>
				</a>
		</div> -->
	<!-- 		<div ng-show="currentPage == 'dashboardoffers'"
				class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark tabs">
				<ul class="nav nav-tabs nav-justified" ng-controller="TabsCtrl">
					<li ng-class=""ng-repeat="tab in tabs"><a
						href="javascript:void(0)"  class="mdl-layout__tab mdl-nav__links" ng-class="{'is-active':isActiveTab(tab.state)}"
						ng-click="setSelectedTab(tab,tab.state)">{{tab.label}}</a></li>
				</ul>
			</div> -->
<!-- <div ng-show="currentPage == 'dashboardoffers'"
				class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark tabs">
				<ul class="nav nav-tabs nav-justified" ng-controller="TabsCtrl">
					<li ng-class="ng-repeat="tab in tabs"><a
						href="javascript:void(0)"  class="mdl-layout__tab mdl-nav__links" ng-class="{'is-active':isActiveTab(tab.state)}"
						ng-click="setSelectedTab(tab,tab.state)">{{tab.label}}</a></li>
				</ul>
			</div> -->
			
<!-- 				=====		<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark" ng-show="currentPage == 'dashboardoffers' ||currentPage == 'report' ||currentPage == 'addCan' ||currentPage == 'addOffer' || currentPage =='candidateReport'||currentpage =='addCan'">
				<a ng-click='backToDashboard()'>
					<button
						class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent"
						id="add">
					<i class="material-icons" role="presentation">dashboard</i>
 						<span class="visuallyhidden">dashboard</span>
					</button>
				</a>
			</div>====== -->
			<!-- <div ng-show="currentPage == 'dashboardoffers' ||currentPage == 'report'">
			<a ng-click='backToApp()'>
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent"
						id="addOffers">
						<i class="material-icons">keyboard_backspace</i> <span class="visuallyhidden">Dashboard</span> 
					</button>
		</div>  -->
	